.header {
    padding: 30px 60px;
}


.logo {
    display: flex;
    align-items: center;
}


.logo__image {
    width: 200px;
    height: 84px;
    padding-right: 20px;
    border-right: 2px solid #bebebe;
}


.logo__title {
    font-size: 18px;
    padding-left: 20px;
    color: #808080;
}
