.profile-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}


.profile-container__loading-wrapper {
    position: absolute;
    background: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}