@model System.Security.Principal.IIdentity

<!DOCTYPE html>

<html>
<head>
    <title>TestAuth</title>
</head>
<body>
<div>
    @(Model.Name)
    <a href="@Url.Action("Logout", "Auth")">Logout</a>
</div>
</body>
</html>