.employees__header {
    padding: 15px 60px;
    background-color: rgb(228, 24, 73);
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}


.employees__main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.employees__button-open-form {
    cursor: pointer;
    display: flex;
    align-items: center;
}


.employees__button-title {
    font-size: 16px;
    margin-right: 5px;
}


.employees__add-form_open-enter {
    max-height: 0;
    overflow: hidden;
}


.employees__add-form_open-enter-active {
    max-height: 108px;
    transition: max-height .5s linear;
}


.employees__add-form_open-leave {
    max-height: 108px;
    overflow: hidden;
}


.employees__add-form_open-leave-active {
    max-height: 0;
    transition: max-height .5s linear;
}


.employees__content {
    padding: 30px 60px;
}